/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* FONTS */

@font-face {
  font-family: roboto_condensed_bold;
  src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: roboto_slab_light;
  src: url('../fonts/RobotoSlab-Light.ttf');
}

/* CONTAINER */

.container {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* INTRO */

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../img/bg/bg_mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* HEADER */

.header {
  background: linear-gradient(to right, rgba(25, 22, 33, 0.1) 40%, rgba(25, 22, 33, 1));
}

.header_inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HERO */

.hero {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_title,
.hero_subtitle {
  text-transform: uppercase;
  color: #fff;
}

.hero_title {
  font-family: roboto_condensed_bold;
  font-size: 32px;
  line-height: 1;
}

.hero_subtitle {
  font-family: roboto_slab_light;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 2px;
}

.hero_description {
  font-family: roboto_slab_light;
  font-size: 10px;
  line-height: 1;
  color: #fff;
}

@media (min-width: 768px) {
  .wrapper {
    background-image: url('../img/bg/bg_tablet.jpg');
  }

  .hero_title {
    font-size: 40px;
  }

  .hero_subtitle {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 3px;
  }

  .hero_description {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    background-image: url('../img/bg/bg_desktop.jpg');
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_subtitle {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 4px;
  }
}

/* LOGO */

.logo {
  position: relative;
  z-index: 6;
  display: flex;
  align-items: center;
  font-family: roboto_condensed_bold;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.logo_image {
  margin-right: 4px;
}

/* BURGER_BTN */

.burger_btn {
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 6;
}

.burger_btn span {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: transform 0.2s linear;
}

.burger_btn::before,
.burger_btn::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.2s linear;
}

.burger_btn::before {
  top: 0;
}

.burger_btn::after {
  bottom: 0;
}

.burger_btn.active span {
  transform: scale(0);
}

.burger_btn.active::before {
  transform: rotate(45deg);
  top: 8px;
}

.burger_btn.active::after {
  transform: rotate(-45deg);
  bottom: 8px;
}

/* MENU */

.menu-mobile {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #191621;
  transition: all 0.2s linear;
}

.menu-mobile.active {
  right: 0;
}
