/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 300px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: green;
}

.header_inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */

.logo_image {
  width: 32px;
}

/* BURGER_BTN */

.burger_btn {
  width: 30px;
  height: 20px;
  position: relative;
}

.burger_btn span {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.burger_btn span:nth-child(1) {
  top: 0;
}

.burger_btn span:nth-child(2) {
  top: 8px;
}

.burger_btn span:nth-child(3) {
  bottom: 0;
}

/* BURGER_BTN ACTIVE */

.burger_btn.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.burger_btn.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 8px;
}

.burger_btn.active span:nth-child(2) {
  transform: scale(0);
}

/* BURGER_MENU */

.burger_menu {
  display: none;
  position: fixed;
  top: -100%;
  /* top: 0; */
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: tomato;
}

.burger_menu.active {
  top: 0;
}

.burger_menu_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.burger_menu_link {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

/* CONTENT */

.content_text {
  font-size: 18px;
}
