/* COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

body.lock {
  overflow: hidden;
}

html {
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

/* FONTS */

@font-face {
  font-family: roboto_condensed_bold;
  src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family: roboto_slab_light;
  src: url('../fonts/RobotoSlab-Light.ttf');
}

@font-face {
  font-family: roboto_slab_bold;
  src: url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
  font-family: roboto_regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

/* CONTAINER */

.container {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1170px;
  }
}

/* LINES */

.lines {
  display: flex;
  align-items: center;
}

.lines::before,
.lines::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  margin: 0 10px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: 768px) {
  .lines::before,
  .lines::after {
    width: 100px;
  }
}

/* WRAPPER */

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../img/bg/bg_mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .wrapper {
    background-image: url('../img/bg/bg_tablet.jpg');
  }
}

@media (min-width: 1440px) {
  .wrapper {
    background-image: url('../img/bg/bg_desktop.jpg');
  }
}

/* HEADER */

.header {
  background: linear-gradient(to right, rgba(25, 22, 33, 0.1) 60%, rgba(25, 22, 33, 1));
}

.header_inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header_inner {
    height: 80px;
  }
}

@media (min-width: 1440px) {
  .header_inner {
    height: 90px;
  }
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  font-family: roboto_condensed_bold;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.logo_image {
  margin-right: 4px;
}

@media (min-width: 768px) {
  .logo {
    font-size: 24px;
  }

  .logo_image {
    margin-right: 6px;
  }
}

@media (min-width: 1440px) {
  .logo {
    font-size: 30px;
  }

  .logo_image {
    margin-right: 8px;
  }
}

/* BURGER_BTN */

.burger_btn {
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 6;
}

.burger_btn span {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: transform 0.2s linear;
}

.burger_btn::before,
.burger_btn::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.2s linear;
}

.burger_btn::before {
  top: 0;
}

.burger_btn::after {
  bottom: 0;
}

.burger_btn.active span {
  transform: scale(0);
}

.burger_btn.active::before {
  transform: rotate(45deg);
  top: 8px;
}

.burger_btn.active::after {
  transform: rotate(-45deg);
  bottom: 8px;
}

@media (min-width: 1440px) {
  .burger_btn {
    display: none;
  }
}

/* MENU */

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191621;
  transition: all 0.2s linear;
}

.menu.active {
  right: 0;
}

.menu_list {
  list-style: none;
  text-align: center;
}

.menu_item {
  margin-bottom: 20px;
}

.menu_link {
  font-family: roboto_condensed_bold;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  .menu_link {
    font-size: 26px;
  }
}

@media (min-width: 1440px) {
  .menu {
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .menu_list {
    display: flex;
    text-align: auto;
  }

  .menu_item {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .menu_link {
    font-size: 14px;
    transition: color 0.2s linear;
  }

  .menu_link:hover {
    color: #28b8d8;
  }
}

/* SOCIALS */

.socials {
  list-style: none;
  position: relative;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.socials::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 2px;
  background-color: #fff;
  transform: translateX(-50%);
}

.socials_link {
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px;
}

.socials_link.facebook {
  background-image: url('../img/socials/facebook.png');
}

.socials_link.twitter {
  background-image: url('../img/socials/twitter.png');
}

.socials_link.dribbble {
  background-image: url('../img/socials/dribbble.png');
}

.socials_link.pinterest {
  background-image: url('../img/socials/pinterest.png');
}

@media (min-width: 768px) {
  .socials::before {
    width: 150px;
  }
}

@media (min-width: 1440px) {
  .socials {
    padding-top: 0;
    width: auto;
    height: 30px;
    position: relative;
    align-items: center;
  }

  .socials::before {
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #3b3942;
    transform: none;
  }

  .socials_link {
    padding: 0;
    margin-left: 20px;
  }
}

/* HERO */

.hero {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_title,
.hero_subtitle {
  text-transform: uppercase;
  color: #fff;
}

.hero_title {
  font-family: roboto_condensed_bold;
  font-size: 32px;
  line-height: 1;
}

.hero_subtitle {
  font-family: roboto_slab_light;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 2px;
}

.hero_description {
  font-family: roboto_slab_light;
  font-size: 10px;
  line-height: 1;
  color: #fff;
}

@media (min-width: 768px) {
  .hero_title {
    font-size: 40px;
  }

  .hero_subtitle {
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 3px;
  }

  .hero_description {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .hero_title {
    font-size: 50px;
  }

  .hero_subtitle {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 4px;
  }
}

/* ABOUT */

.about {
  padding: 40px 0;
}

.about_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.about_title {
  margin-bottom: 10px;
  font-family: roboto_slab_light;
  text-align: center;
  color: #444;
}

.about_description {
  margin-bottom: 40px;
  font-family: roboto_regular;
  font-size: 10px;
  text-align: center;
  color: #666;
}

.about_subtitle {
  font-family: roboto_condensed_bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #444;
}

@media (min-width: 768px) {
  .about {
    padding: 60px 0;
  }

  .about_title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .about_description {
    margin-bottom: 60px;
    font-size: 14px;
  }

  .about_subtitle {
    font-size: 16px;
  }

  .about_subtitle::before,
  .about_subtitle::after {
    width: 100px;
  }
}

@media (min-width: 1440px) {
  .about {
    padding: 80px 0;
  }

  .about_title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .about_description {
    margin-bottom: 80px;
  }

  .about_subtitle {
    font-size: 18px;
  }
}

/* SERVICES */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services_item {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e3e3e3;
}

.services_item:last-child {
  margin-bottom: 0;
}

.services_title {
  padding: 20px 10px;
  font-family: roboto_slab_bold;
  font-size: 14px;
  color: #444;
  text-align: center;
}

.services_text {
  font-family: roboto_regular;
  font-size: 13px;
  line-height: 22px;
  color: #666;
  text-align: center;
}

@media (min-width: 768px) {
  .services {
    flex-direction: row;
    justify-content: space-between;
  }

  .services_item {
    width: 230px;
    margin-bottom: 0;
  }

  .services_title {
    padding: 24px 16px;
    font-size: 17px;
  }
}

@media (min-width: 1440px) {
  .services_item {
    width: 370px;
    padding: 20px;
  }

  .services_title {
    padding: 30px 20px;
  }
}

/* INSTAGRAM */

.instagram {
  padding: 40px 0;
  background-color: #2c2c2c;
}

.instagram_title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: roboto_condensed_bold;
  font-size: 15px;
  color: #d5d5d5;
  text-transform: uppercase;
  text-align: center;
}

.instagram_btn {
  width: 140px;
  height: 30px;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto_regular;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #a6a6a6;
  border: 1px solid #a6a6a6;
}

.instagram_btn::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  background-image: url('../img/instagram/button_ico.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .instagram {
    padding: 60px 0;
  }

  .instagram_title {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .instagram_btn {
    width: 160px;
    height: 40px;
    margin: 30px auto 0;
    font-size: 12px;
  }

  .instagram_btn::before {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
}

@media (min-width: 1440px) {
  .instagram {
    padding: 80px 0;
  }

  .instagram_title {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .instagram_btn {
    width: 180px;
    height: 50px;
    margin: 40px auto 0;
    font-size: 14px;
  }

  .instagram_btn::before {
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
}

/* IMAGE-SLIDER */

.image-slider .swiper-slide {
  width: auto;
}

/* visually-hidden */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
